body {
  text-align: center;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, red, green);
  padding: 20px;
}

img {
  display: block;
  margin: 20px auto;
  width: 400px;    
  height: 300px;    
  border: 3px solid #000; 
  border-radius: 15px;     
  object-fit: cover;
  margin-left:-450ps;
}

p {
  font-size: 18px;
  color: #333;
  max-width: 700px;
  margin: 20px auto;
}
